{% extends 'core/index.html' %}
{% load static %}

{% block titulo %}
Academico | Quienes Somos
{% endblock titulo %}

{% block barra %}
<header class="main_menu single_page_menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand logo_1" href="{% url 'index' %}"> <img src="{{ COLEGIO.logo.url }}"
                            alt="logo" height="100">
                        <div class="banner_text_iner  ml-3 mt-4">
                            <h3 class="text-white"> Academico<br>El Poblado</h3>
                        </div>
                    </a>
                    <a class="navbar-brand logo_2" href="{% url 'index' %}"> <img src="{{ COLEGIO.logo.url }}"
                            alt="logo" height="100">
                        <div class="banner_text_iner ml-3 mt-4">
                            <h3> Academico<br>El Poblado</h3>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item justify-content-end"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item ml-5 {% if request.path == '/' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                            </li>
                            <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'about' %}">Quienes Somos</a>
                            </li>
                            <li class="nav-item {% if request.path|slice:":10" == '/services/' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'services' %}">Servicios</a>
                            </li>
                            <li class="nav-item {% if request.path == '/docentes/' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'docentes' %}">Docentes</a>
                            </li>
                            <li class="nav-item {% if request.path|slice:":6" == '/blog/' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                            </li>
                            <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% endblock barra %}


{% block baner%}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>{% block titulobaner %} Quiénes Somos {% endblock titulobaner %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock baner %}


{% block body %}
<!-- learning part start-->
<section class="learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-7 col-lg-7">
                <div class="learning_img">
                    <img src="{% static 'core/img/fotos/foto15.jpeg' %}" class="rounded" alt="">
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="learning_member_text">
                    <h5>Nosotros</h5>
                    <h2>{{COLEGIO.lema}}</h2>
                    <p>Fifth saying upon divide divide rule for deep their female all hath brind Days and beast
                        greater grass signs abundantly have greater also
                        days years under brought moveth.</p>
                    <ul>
                        <li><span class="ti-pencil-alt"></span>Him lights given i heaven second yielding seas
                            gathered wear</li>
                        <li><span class="ti-ruler-pencil"></span>Fly female them whales fly them day deep given
                            night.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- learning part end-->

<!--Mision Vision-->
<div class="container">
    <section class="learning_part">
        <div class="row">
            <div class="learning_member_text col-lg-6 col-md-6">
                <h5>Filosofia de Nuestra Institución </h5>
                <h2 class="text-center">Misión</h2>
                <p>{{COLEGIO.mision}}</p>
            </div>
            <div class="learning_member_text col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                <img src="{% static 'core/img/rocket.png' %}" class="rocket" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <div class="learning_member_text col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                <img src="{% static 'core/img/telescope.jpg'%}" class="rocket rounded-circle" alt="">
            </div>
            <div class="learning_member_text col-lg-6 col-md-6">
                <br>
                <h2 class="text-center">Visión</h2>
                <p>{{COLEGIO.vision}}</p>
            </div>
        </div>
    </section>
</div>

<section class="feature_part single_feature_padding">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-xl-3 align-self-center">
                <div class="single_feature_text ">
                    <h2>Nuestros Valores</h2>
                    <p>Set have great you male grass yielding an yielding first their you're
                        have called the abundantly fruit were man </p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 mb-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-star"></i></span>
                        <h4>Tolerancia</h4>
                        <p>No comparto lo que dices, pero defenderé tú derecho a decirlo</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-star"></i></span>
                        <h4>Creatividad</h4>
                        <p>Crear algo que se considere valioso y que se comparta. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part single_feature_part_2">
                        <span class="single_service_icon style_icon"><i class="ti-star"></i></span>
                        <h4>Responsabilidad</h4>
                        <p>Actuar conscientemente, permitiéndose reflexionar.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-star"></i></span>
                        <h4>Justicia</h4>
                        <p>Virtud que nos hace dar a cada cual lo que corresponde.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-star"></i></span>
                        <h4>Honestidad</h4>
                        <p>Actuar de acuerdo a lo que se piensa y a lo que se dice.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->



<!-- inicio de contador  -->
<section class="member_counter mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">35</span>
                    <h4>Años</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">795</span>
                    <h4>Estudiantes</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">286</span>
                    <h4>En cobertura</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">520</span>
                    <h4>Egresados</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fin del contador -->


<!--::review_part start::-->
<section class="testimonial_part section_padding">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>35 Años Educando</p>
                    <h2>Nuestra Historia</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {{COLEGIO.historia}}
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center">
                    <img src="{% static 'core/img/pergamino.png'%}" class="rocket" alt="">
                </div>

            </div>
        </div>

    </div>
</section>
{% endblock body %}
<!--::blog_part end::-->